@import "variables";
@import "mixin";
@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "icons";

@include body();
@include container();
@include heading();
@include section();
@include wrapper();
//@include article();
//@include breadcrumbs();
@include btn();
@include label();
@include input();
@include form();
@include img();
@include icon();
//@include tab();
/* GENERAL */
body {
  background-color: $greyDB;
  height:100%;
}
.container{
  height:100%;
  position:relative;
  background-color: inherit;
  overflow:hidden;
  min-height: 400px;
}
.loading{
  width:100%;
  z-index: 100;
  height:100%;
  margin: auto;
  background-color: white;
  background-image: image-url('framework/icon/loading.gif');
  background-repeat: no-repeat;
  background-position: center;
  @include abs();

  .textLoading{
    font-family: $ff1;
    font-weight: bold;
    display:block;
    font-style: italic;
    font-size: 32px;
    text-align: center;
    margin-top: 30%;
  }
}
.wrapper.map-content{
  @include c(12);
  max-width: 100%;
  width:100%;
  height:100%;
  @include abs();
  z-index: 10;

  #gmap{
   width:100%;
   height:100%;
   position:relative;


 }
}
.main{
  @include c(12);
  position:relative;
  height:80%;
  .app{
    height:auto;
    min-height: 150px;
    @include c(12);
    width:300px;
    @include abs();
    top:2em;
    z-index: 20;
    bottom:2em;
    background-color: white;
    @include box-shadow($greyL2 0 0 10px 1px);
    .bar{
      padding:0 $pd;
      line-height: 40px;
      height:40px;
      display:block;
      max-height: 100%;
      max-width: 100%;
      overflow: hidden;
      -o-text-overflow: ellipsis; 
      text-overflow: ellipsis;
    }
    .status{
      background-color: $greyDB;
      height:40px;
      line-height:40px;
      color:white;
      .icon{
        @include cfl(2);
        height:100%;

      }
      .nbDistrib{
        @include cl(9.5);
        @include offsetL(0.5);
        text-overflow:ellipsis;
        
      }
    }
    .addMenu{
      background-color: $greyL;
     height:40px;
     line-height:40px;
     color:$tc;
     .icon{
      @include cfl(2);
      height:100%;

    }
    .showMap{
      @include cl(10.5);
      @include offsetL(0.5);
      a{
        border:0;
        color:$tc;
        &:hover,&:focus{
          @include border-radius(0);
        }
      }
      }
    }
    .listGlobal{
      border-bottom: 1px solid $greyL2;
      //background-color: $greyL;
      .agences{
      @include cfl(6);
      height:100%;
      label{
        padding:0;
      }
      select{
        max-width:80px;

      }
      }
      .dimension{
      @include cl(6);
      height:100%;
      padding-left:0.5%;
      margin-left: 0;
      a{
        color:$tc;
        border:0;
        &:hover,&:focus{
          @include border-radius(0);
        }
      }
      }
    }
  .icon{
    vertical-align: middle;
    display:inline-block!important;
    max-width: 16px;
    background-position: center;
  }
}

}
.header{
  @include c(12);
  height:80px;
  position:relative;
  z-index: 20;
  overflow:hidden;
  padding-bottom: $pd;
  background-color: $greyDB;
  @include box-shadow($greyD 0 2px 4px 1px);
  .logo{
    max-width:48px;
    @include cfl(3);
    margin:0 auto;
    height: 100%;
    a{
      display:inline-block;
      height:100%;
      line-height: 60px;

      img{
        margin:0 auto;
        max-height: 100%;
        display:inline-block;
        vertical-align: bottom;
      }
    }
  }
  .titleApp{
    @include cl(6);
    color:white;
    height:100%;
    line-height: 60px;
    h1{
      border-bottom: 0;
      padding-bottom: 0;
      font-size: 32px;
      font-weight:300;
      display:inline-block;
      vertical-align: bottom;
      
    }
  }
  .reload{
    height:100%;
    line-height:60px;
    float:right;
    width:42px;
    display:inline-block;
    padding:0 $pd;
    a{
      display:inline-block;
      text-indent: -99999px;
      width:32px;
      height:32px;
      border:0;
      vertical-align: bottom;
      background-image: image-url('framework/icon/reloadWhite.png');
      background-repeat: no-repeat;
      background-size: 32px;
      background-position: center;
      &:hover,&:focus{
        @include border-radius(0); 
      }
    }
  }
}
.footer{
  @include c(12);
  height:10%;
  background-color: $greyL2;
  min-height: 50px;

}

/* MEDIA QUERIES */
@import "responsive";
/* END MEDIA*/
/*.wrapper{
    border:2px solid white;
    border-bottom: 0;
    background-color: $mc;
  }
  .logo{
    width:auto;
    min-width: 58px;
    float:left;
    height:100%;
    display:inline-block;
    margin-top: 0;
    line-height: 50px;
    margin-bottom: 0;
    padding:0 $pd;
    border-right: 1px solid white;
    a{
      display:inline-block;
      vertical-align: middle;
      font-size: 1em;
    }
    img{
      text-indent: -99999px;
      margin:0 auto;
      display:inline-block;
      vertical-align: middle;
    }
  }
  .titleApp{
    line-height: 50px;
    @include cl(6);
    height:100%;
    padding:0 $pd;
    h1{
      font-size: 24px;
      border-bottom: 0;
      color:white;
      display: inline-block;
      vertical-align: middle;
      padding: 0;
      margin:0 auto;
    }
  }
  .reload{
    height:100%;
    line-height:50px;
    float:right;
    width:42px;
    display:inline-block;
    padding:0 $pd;
    a{
      display:inline-block;
      text-indent: -99999px;
      width:100%;
      border:0;
      vertical-align: middle;
      background-image: image-url('framework/icon/reloadWhite.png');
      background-repeat: no-repeat;
      background-size: 32px;
      background-position: center;
      &:hover,&:focus{
        @include border-radius(0); 
      }
    }
  }*/